header {
    background-color: #cd6369;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    list-style: none;
    margin: 0;
    padding-top: 42px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 5px;
    color: black;
    text-decoration: none;
    
}


.title {
    width: 710px;
    height: 50px;
    padding-top: 200px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.subtext {
    width: 710px;
    height: 180px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
}

span {
    color: #9b5886;
    text-decoration: underline;
}

.photo {
    position: relative;
    top: 0;
    left: 0px;
    margin: 0 auto;
    width: 710px;
    height: 200px;
}

.row1 {
    position: relative;
    top: 0px;
    left: 0;
    margin: 0 auto;
    width: 710px;
    height: 200px;
    padding-top: 50px;
    background-color: transparent;
}

.one {
    width: 330px;
    height: 200px;
}

#row1left {
    background-color: #9b5886;
    float: left;
}

#palmtext {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

#row1right {
    background-color: #e0c072;
    float: right;
}

.row2 {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    width: 710px;
    height: 200px;
    padding-top: 0px;
    background-color: transparent;
}

.row2left {
    width: 330px;
    height: 200px;
    padding-top: 50px;
    float: left;
}

#left2 {
    width: 140px;
    height: 200px;
    background-color: #9b5886;
    float: left;
}

#left21 {
    width: 140px;
    height: 200px;
    background-color: #e0c072;
    float: right;
}

.row2right {
    width: 330px;
    height: 200px;
    padding-top: 50px;
    float: right;
}

#right2 {
    width: 140px;
    height: 200px;
    background-color: #d9826b;
    float: left;
}

#right21 {
    width: 140px;
    height: 200px;
    background-color: #cd6369;
    float: right;
}

.row3 {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    width: 710px;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: transparent;
}

.row3left {
    width: 330px;
    height: 200px;
    padding-top: 50px;
    float: left;
}

#left3 {
    width: 140px;
    height: 200px;
    background-color: #d9826b;
    float: left;
}

#left31 {
    width: 140px;
    height: 200px;
    background-color: #cd6369;
    float: right;
}

.row3right {
    width: 330px;
    height: 200px;
    padding-top: 50px;
    float: right;
}

#right3 {
    width: 330px;
    height: 200px;
    background-color: #d9826b;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #d9826b;
}

/* SEASIDE LOVERS */

.content {
    width: 710px;
    height: 800px;
    padding-top: 50px; 
    margin: 0 auto;

}
.content p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 1.9rem;
}

#contentphoto {
    float: right;
}